@charset "UTF-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}
/*全画面表示スタイリング*/
html, body {
	width: 100%;
	height: 100%;
}

#wrapper{
	margin: 0 auto;
	width: 960px;
}

.color{
	color: red;
}

#sample{
	padding-bottom: 50px;
	margin: 50px 0;
	border-bottom: 1px solid #000;
}

#data_list {
	display: flex;
}

.data {
	width: calc(25% - 20px);
	padding: 10px;
	margin: 10px;
	text-align: center;
	border: 1px solid rgb(141, 141, 141);
}

.data div img{
	max-width: 100%;
}

.data h2 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.data p {
	margin-bottom: 10px;
}

.data p:nth-of-type(2) {
	font-size: 0.8rem;
}