/*下記、初期スタイリング*/
* {
  margin: 0px;
  padding: 0px;
}
#sample {
  width: 900px;
  padding: 20px;
  background-color: #ccc;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
#btn {
  width: 200px;
  background-color: #06f;
  border: 0px;
  color: #fff;
  font-size: 1em;
  padding: 10px;
  border-radius: 3px;
}
#head h1 {
  float: left;
  margin-right: 20px;
  margin-left: 30%;
  color: #999;
}
#head {
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 30px;
}

#sample {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 50px 50px;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
  padding: 50px;
}
/*１）以下、参考セレクタ（この通りである必要はありません）*/
/*２）idやclassはjsにて構造を出力する上で作成しています。コチラもこの通りである必要はありません*/
/*３）以下以外に好きに設定しても問題ありません*/
#item {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
h2 {
	margin-bottom:10px;
}
p {
  font-size: 12px;
	margin-bottom:10px;
}
.release {
  background-color: #515254;
  width: 90%;
  height: 30px;
  line-height: 30px;
  color: white;
  font-weight: bold;
	text-
}
img {
  width: 250px;
  height: 250px;
	margin-bottom:10px;
}
.rankNo {
  position: relative;
  top: -30px;
  left: 200px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  transform: rotate(20deg);
  color: white;
  border-radius: 50%;
  background-color: orange;
}
a {
  text-decoration: none;
  color: grey;
}
